.clear-style {
    text-decoration: none;
}

.post-summary {
    height: 320px;
    width: 158px;
    color: black;
    border: 1px solid black;
    margin-right: 4rem;

    .image {
        min-height: 250px;
        max-width: 100%;
        border-bottom: 2px solid black;
    }

    .title {
        margin-top: 0.3rem;
        text-align: center;

        div:first-child {
            font-weight: bold;
        }
    }

    .sub-title {
        display: flex;
        justify-content: space-between;
        margin: 0.5rem;
    }

    &:hover {
        background: black;
        color: white;
    }
}

.all-posts {
    display: flex;
}

// -------
// Posts
.post-body {
    margin: 0 auto;
    width: 55vw;
    top: 30px;
    line-height: 1.7em;
}

