.clear-style {
    text-decoration: none;
}

.post-summary {
    height: 290px;
    width: 158px;
    border: 1px solid black;

    .image {
        height: 250px;
    }

    .title {
        margin-top: 0.3rem;
        text-align: center;
        font-weight: bold;
        text-decoration: none;
        color: black;
    }
}