.clear-style {
    text-decoration: none;
}

.post-summary {
    height: 310px;
    width: 158px;
    color: black;
    border: 1px solid black;
    margin-right: 4rem;

    .image {
        min-height: 250px;
        max-width: 100%;
        border-bottom: 2px solid black;
    }

    .title {
        margin-top: 0.3rem;
        text-align: center;
        font-weight: bold;
        text-decoration: none;
    }

    &:hover {
        background: black;
        color: white;
    }
}

.all-posts {
    display: flex;
}